<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="5;url={% url 'home' %}">
    <title>Title</title>
</head>
<body>
Please confirm your email address to complete the registration.
<br>You'll be automatically redirected to <a href="{% url 'home' %}">HOME</a> in <span id="count">5</span> seconds

<script type="text/javascript">

window.onload = function(){

(function(){
  var counter = 5;

  setInterval(function() {
    counter--;
    if (counter >= 0) {
      span = document.getElementById("count");
      span.innerHTML = counter;
    }
    // Display 'counter' wherever you want to display it.
    if (counter === 0) {
    //    alert('this is where it happens');
        clearInterval(counter);
    }

  }, 1000);

})();

}
</script>
</body>
</html>